@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap');
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 12, 12);
    color: white;
    font-family: 'Signika', sans-serif;
    line-height: 1.5em;
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

img {
    width: 100%;
}

.header {
    background: black;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.header__nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.header__nav li {
    list-style-type: none;
    text-align: center;
    flex-grow: 1;
}

.header__nav a {
    padding: 15px 0;
    text-transform: uppercase;
    color: rgb(78, 78, 78);
    font-size: 16px;
    text-decoration: none;
    display: block;
    transition: .5s ease;
}

.header__nav a:hover {
    color: white
}

.header__nav a:active {
    position: relative;
    top: 1px;
}

.hero {
    background: url(../imagens/SemTítulo-1.png);
    height: 400px;
    max-width: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    font-family: 'Palanquin Dark', sans-serif;
    margin: 0 10px 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: .3em;
    line-height: 1.2em;
}

.hero h2 {
    font-size: .8em;
    margin-top: 1px;
    font-family: 'Signika', sans-serif;
    letter-spacing: .1em;
    font-weight: lighter;
}

.sobre {
    margin: -60px 10px 10px 10px;
}

.sobre p {
    text-align: justify;
    font-size: 14px;
    font-family: 'Signika', sans-serif;
    letter-spacing: .1em;
    line-height: 1.7em;
}

.sobre__imagem{
    border-radius: 5px;
    box-shadow: 6px 10px 19px -8px rgba(0,0,0,0.49);
}

.trabalho {
    margin: 20px auto;
    text-align: center;
}

.trabalho h2 {
    margin: 20px;
    color: white;
    font-family: 'Palanquin Dark', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: .3em;
}

.trabalho__thumb {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0;
}

.trabalho_thumb__img {
    opacity: 1;
    background-color: black;
    transition: ease .5s;
}

.trabalho_thumb__img:hover {
    opacity: .5;
}

.trabalho__thumb img {
    display: block;
    width: 100%;
}

.contato {
    margin: 20px auto;
    text-align: center;
}

.contato h2 {
    margin: 20px;
    color: white;
    font-family: 'Palanquin Dark', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: .3em;
}

.contato__div__infos {
    line-height: 2rem;
}

input,
label,
textarea,
select {
    width: 60%;
}

input,
textarea,
select {
    background: #efefef;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    margin-bottom: 15px;
}

.form-button {
    width: 80px;
    margin-top: 1px;
    height: 6%;
    text-align: center;
}

.form-button:hover {
    background-color: rgb(212, 212, 212);
    transition: all 1s;
}

::placeholder {
    font-family: 'Signika', sans-serif;
}

.fab {
    color: white;
    font-size: 30px;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: black;
    color: darkslategrey;
    margin-top: 30px;
    text-align: center;
    font-family: 'Signika', sans-serif;
}


@media screen and (min-width: 425px) {
    .header__nav a {
        font-size: 16px;
    }
    .sobre {
        margin: -40px 20px 20px 20px;
    }
    .trabalho {
        margin: 50px 0;
    }
    .contato {
        margin: 50px 0;
    }
}

@media screen and (min-width: 768px) {
    .header__nav ul {
        margin: 0 auto;
        width: 60%;
    }
    .header__nav a {
        padding: 15px 0;
        font-size: 18px;
    }
    .hero {
        padding: 0 20px;
        max-width: 100%;
        height: 60vh;
        padding-top: 25px;
    }
    .hero h1 {
        font-size: 3.5em;
    }
    .hero h2 {
        font-size: 1.6em;
    }
    .sobre {
        margin: 0 20px;
    }
    .sobre__imagem_1 {
        display: inline-block;
        width: 48%;
        margin-right: 2%;
    }
    .sobre p {
        font-size: 16px;
    }
    .trabalho {
        margin: 20px 30px;
    }
    .trabalho__thumb {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    
}

@media screen and (min-width: 1024px) {
    .header__nav a {
        padding: 20px 0;
        font-size: 22px;
        bottom: 0;
    }
    .desktop{
        margin: 0 auto;
        width: 90%;
    }

    .hero {
        height: 100vh;
        max-width: 100%;
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .hero h1 {
        font-size: 4em;
        margin-bottom: .2em;
    }
    .hero h2 {
        font-size: 2em;
    }
    .sobre {
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .sobre p {
        margin-top: 20px;
        font-size: 18px;
    }
    .sobre__imagem{
        width: 70%;
    }
    .trabalho {
        margin: 35px 0;
    }
    .trabalho h2 {
        font-size: 38px;
    }
    .trabalho__thumb {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .contato h2 {
        font-size: 38px;
    }

    .contato__div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contato__div__infos{
        text-align: left;
    }

    input,
    label,
    textarea,
    select {
        width: 70%;
    }
    .footter{
        margin-top: 0;
    }
}

@media screen and (min-width: 1440px) {
    .sobre {
        margin: 0 100px;
    }
    .trabalho {
        margin-top: 55px;
    }
    .contato {
        margin-top: 55px;
    }
    .trabalho__thumb {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (min-width: 2560px) {
    .header__nav ul {
        margin: 0 auto;
        width: 60%;
    }
    .header__nav a {
        padding: 30px 0;
        font-size: 26px;
    }
    .hero {
        height: 100vh;
        padding-top: 25px;
    }
    .hero h1 {
        font-size: 6em;
        margin-bottom: .5em;
    }
    .hero h2 {
        font-size: 4em;
    }
    .sobre {
        margin: 40px 450px;
    }
    .sobre p {
        font-size: 16px;
    }
    .trabalho {
        margin-top: 75px;
    }
    .trabalho h2 {
        font-size: 42px;
    }
    .trabalho__thumb {
        margin: 30px 200px;
    }
    .trabalho__thumb {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .contato {
        margin-top: 75px;
    }
    .contato h2 {
        font-size: 42px;
    }
    input,
    label,
    textarea,
    select {
        width: 70%;
    }
}